.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
  &__card {
    flex: 250px;
  
    &__router {
      text-decoration: none;
    }
  }
  
  &__sort {
      display: flex;
  }
}
  
.text {
  text-align: center;

  &__extended {
    text-align: left;
  }
}

.container-movie {
  &__card {
    display: flex;
    margin: auto;
  }

  &__text {
    text-align: left;
  }

  &__name {
    display: flex;
    justify-content: space-between;
  }
}