.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
  &__card {
    flex: 250px;
  
    &__router {
      text-decoration: none;
    }
  }
  
  &__sort {
      display: flex;
  }
}
  
.text {
  text-align: center;
}